.board {
  height: 80vh;
  aspect-ratio: 1/1;
  max-width: 480px;
  max-height: 480px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .board {
    width: 320px;
    height: 320px;
    margin-top: 20px;
    aspect-ratio: none;
  }
}